.bg-pastel-blue {
  background-color: #789DBC !important;
}

.bg-pastel-pink {
  background-color: #FFE3E3 !important;
}

.bg-pastel-cream {
  background-color: #FEF9F2 !important;
}

.bg-pastel-green {
  background-color: #C9E9D2 !important;
}
.bg-pastel-green2 {
  background-color: #659287 !important;
}

.text-pastel-blue {
  color: #789DBC !important;
}

.text-pastel-pink {
  color: #FFE3E3 !important;
}

.text-pastel-cream {
  color: #FEF9F2 !important;
}

.text-pastel-green {
  color: #C9E9D2 !important;
}

.text-pastel-green2 {
  color: #659287 !important;
}